<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="pizza" class="org.neelima.example.FoodItem">
        <property name="name" value="Pizza"/>
        <property name="price" value="300"/>
    </bean>

    <bean id="burger" class="org.neelima.example.FoodItem">
        <property name="name" value="Burger"/>
        <property name="price" value="150"/>
    </bean>

    <bean id="orderService" class="org.neelima.example.OrderService">
        <property name="items">
            <list>
                <ref bean="pizza"/>
                <ref bean="burger"/>
            </list>
        </property>
    </bean>
</beans>



